[Unit]
Description = Will run btrfsdevicestats.service every day at midnight

[Timer]
# OnCalendar Syntax: days year-month-day hour:minutes:seconds
# 1..5 represents a range
# * is wildcard
# days works as an if statemtent (only run if day is equal to one of the options in days) (Optional)

OnCalendar= *-*-* 00:00:00
Unit=btrfsdevicestats.service

[Install]
WantedBy=multi-user.target