[Unit]
Description = Delete Late Night Shows Service
OnFailure=unit-failure-notification@%n

[Service]
Type=oneshot
ExecStart=/home/fileserver/Applications/deletelatenight/deletelatenight.sh
