[Unit]
Description = DuckDns IP Address update
Wants=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
EnvironmentFile=/home/fileserver/Applications/ArchServer/config/passwords.sh
Type=oneshot
ExecStart=echo url="https://www.duckdns.org/update?domains=timoverbrugghe&token=${duckdnsapi}&ip=" | curl -k -K -
