[Unit]
Description = Git Updates
Wants=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
Type=oneshot
ExecStart=/home/fileserver/Applications/gitupdate.sh