[Unit]
Description=Jackett Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=fileserver
Restart=always
RestartSec=5
Type=simple
ExecStart=/usr/bin/mono --debug /home/fileserver/Applications/jackett/JackettConsole.exe
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target