[Unit]
Description=Jackett Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=fileserver
Restart=always
RestartSec=5
Type=simple
ExecStart=/home/fileserver/Applications/jackett/jackett
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target