[Unit]
Description = noVNC (Websockets start)
OnFailure=unit-failure-notification@%n

[Service]
Type=simple
ExecStart=/home/fileserver/Media/Network/vnc/utils/websockify/run :8086 localhost:5900

[Install]
WantedBy=multi-user.target