[Unit]
Description = noVNC (Websockets start)
Wants=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
Type=simple
ExecStart=/home/fileserver/Media/Network/vnc/utils/websockify/run --web /home/fileserver/Media/Network/vnc/ :8086 localhost:5900

[Install]
WantedBy=multi-user.target