[Unit]
Description=NZBGet Daemon
Documentation=http://nzbget.net/Documentation
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
User=fileserver
Group=fileserver
Type=forking
PIDFile=/home/fileserver/Applications/nzbget/nzbget.lock
ExecStart=/usr/bin/nzbget -D -c /home/fileserver/Applications/nzbget/nzbget.conf
ExecStop=/usr/bin/nzbget -Q -c /home/fileserver/Applications/nzbget/nzbget.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target