[Unit]
Description=Radarr Service
Wants=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
# Mono 5.0 fix (https://github.com/Radarr/Radarr/issues/1528)
Environment=MONO_TLS_PROVIDER=legacy

User=fileserver
Group=fileserver
ExecStart=/usr/bin/mono /home/fileserver/Applications/radarr/app/Radarr.exe --nobrowser --debug -data=/home/fileserver/Applications/radarr/data/
Type=simple
TimeoutStopSec=20
KillMode=process
Restart=always
SuccessExitStatus=9

[Install]
WantedBy=multi-user.target