[Unit]
Description=Run reflector weekly
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=weekly
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target