[Unit]
Description = Startup notification ArchServer
Requires=network-online.target
After=network-online.target
OnFailure=unit-failure-notification@%n

[Service]
Type=oneshot
ExecStart=/home/fileserver/Applications/ArchServer/Services/pushbullet.sh "ArchServer: Boot Sequence finished" "ArchServer has successfully booted and is now fully operational."

[Install]
WantedBy=multi-user.target