[Unit]
Description=Web Services Dynamic Discovery host daemon
After=network-online.target
Wants=network-online.target
Wants=smb.service

[Service]
Type=simple
ExecStart=/home/fileserver/Applications/wsdd/wsdd --shortlog
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target