[Unit]
Description = Will run piholeupdate.service every sunday, at 6:34 am

[Timer]
# OnCalendar Syntax: days year-month-day hour:minutes:seconds
# 1..5 represents a range
# * is wildcard
# days works as an if statemtent (only run if day is equal to one of the options in days) (Optional)

OnCalendar=Sun *-*-* 06:34:00
Unit=piholeupdate.service

[Install]
WantedBy=multi-user.target
